streamlit
pandas
openpyxl
langchain
langchain-core
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
docx2txt
beautifulsoup4
wikipedia
